.user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin-bottom: 19px;
}
.user__img {
  margin-right: 12px;
  width: 42px;
}
.user__name {
  color: rgb(0, 0, 0);
}
.user__position {
  font-weight: 400;
  font-size: 12px;
  line-height: 18px;
  color: rgb(145, 151, 179);
}

@media screen and (max-width: 992px) {
  .user {
    margin-top: 30px;
  }
}
