.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.logo__img {
  width: 37px;
  margin-right: 8px;
}
.logo__text {
  font-weight: 600;
  color: rgb(0, 0, 0);
  letter-spacing: 1%;
  font-size: 26px;
  line-height: 39px;
  margin-right: 4px;
}
.logo__version {
  color: rgb(145, 151, 179);
  font-size: 10px;
  line-height: 15px;
  margin-top: 10px;
}
