.table {
  width: 886px;
  margin-top: 40px;
}
.table__header {
  color: rgb(181, 183, 192);
}
.table__title td {
  padding-bottom: 20px;
}
.table:before {
  content: "";
  width: 100%;
  height: 1px;
  background-color: rgb(238, 238, 238);
  top: 170px;
  left: 0;
  display: block;
  position: absolute;
}
.company {
  width: 135px;
}
.status {
  text-align: center;
  padding-left: 20px;
}

@media screen and (max-width: 1440px) {
  .table {
    width: 886px;
  }
  .table:before {
    width: 1045px;
  }
}
@media screen and (max-width:992px) {
  .table {
    width: 950px;
  }
}